@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "dream";
  src: url("/fonts/chakra.ttf");
}

@font-face {
  font-family: "archo";
  src: url("/fonts/archo.ttf");
}


@layer base {



  .container-wrapper {
    @apply max-w-[1240px] w-[90%] mx-auto;
  }


}

body{
  background-color: black;
 
  
}
.hero-bg{
 
  background-image: url('../public/images/bg-hero.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
}
